.row
  .col-md-3
    .user-card
      = image_tag('profile-photo.jpg', class: 'user-card__photo')

      %h3.user-card__name
        = current_employee.full_name
        %small.user-card__job-title
          = current_employee.job_title

  .col-md-9
    .panel.panel-default.holiday-panel
      .panel-heading
        %h3.panel-title.holiday-panel__title
          .pull-right
            Days of holiday this year:
            %strong= current_employee.allocated_holiday_days

          Holidays
