- provide :title, @employee.full_name

- if @employee.active
  .pull-right
    = link_to 'Deactivate Employee', '#', class: 'btn btn-danger btn-deactivate-employee', data: { toggle: 'modal', target: '#deactivate_employee_modal' }

%h1= @employee.full_name

= render 'employees/deactivate_employee_modal'
