%table.table.table-bordered.table-check-in-times
  %tbody
    %thead
      %tr.table-check-in-times__tr
        - @week.each do |day|
          %td.center
            %strong= day.strftime('%A')

            - if employee.all_check_ins_on_date(day).any?
              %span.label.label-default.label-time-logged-today
                = employee.formatted_time_checked_in_on_date(day)

    - employee.max_check_ins_on_week_starting(@start_of_week).times do |n|
      %tr.table-check-in-times__tr
        - @week.each_with_index do |day, i|
          = render 'shared/time_table/day', time: employee.check_in_out_times(@week)[i][n], day: day, i: i, n: n, employee: employee
  %tfooter
    %tr
      %td.center{ colspan: 5 }
        Hours worked this week:
        %strong= employee.formatted_time_checked_in_on_week(@start_of_week)
