.user-card--small
  = image_tag(employee.avatar.url, class: 'user-card--small__photo')

  %h3.user-card--small__name
    = employee.full_name
    %small.user-card--small__job-title
      - if employee.job_title.downcase == 'director' && employee.is_line_manager
        %br
        %span.label.label-default.user-card__director-label DIRECTOR
      - else
        %small.user-card__job-title= employee.job_title
