.user-card--small
  = image_tag('profile-photo.jpg', class: 'user-card--small__photo')

  %h3.user-card--small__name
    = current_employee.full_name
    %small.user-card--small__job-title
      = current_employee.job_title
