- provide :title, 'Check In'

.row
  .col-md-3
    .user-card
      = image_tag('profile-photo.jpg', class: 'user-card__photo')

      %h3.user-card__name
        Tim Green
  .col-md-9
    = link_to 'Check In', '#', class: 'btn btn-default btn-check-in'
    = link_to 'Check Out', '#', class: 'btn btn-primary btn-check-out'

    %table.table.table-bordered.table-check-in-times
      %tr.table-check-in-times__tr
        %td.center
          %strong Monday
          %span.label.label-default.label-time-logged-today 8h 3m
        %td.center
          %strong Tuesday
        %td.center
          %strong Wednesday
        %td.center
          %strong Thursday
        %td.center
          %strong Friday
      %tr.table-check-in-times__tr
        %td.table-check-in-times__td 9:13
        %td.table-check-in-times__td
        %td.table-check-in-times__td
        %td.table-check-in-times__td
        %td.table-check-in-times__td
      %tr.table-check-in-times__tr
        %td.table-check-in-times__td 18:48
        %td.table-check-in-times__td
        %td.table-check-in-times__td
        %td.table-check-in-times__td
        %td.table-check-in-times__td

