%h1 Times

.row
  .col-md-3
    .user-card
      = image_tag('profile-photo.png', class: 'user-card__photo')

      %span.user-card__name
        Tim Green
  .col-md-9
    %table.table.table-bordered
      %tr
        %td
        %td.center
          %strong Monday
        %td.center
          %strong Tuesday
        %td.center
          %strong Wednesday
        %td.center
          %strong Thursday
        %td.center
          %strong Friday
      - 4.times do |n|
        %tr
          %td
            %strong Week #{n + 1}
          %td 8h 3m
          %td
          %td
          %td
          %td

