// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sick_day_colour: #e74c3c;
$employee_holiday_colour: #2ecc71;
$company_holiday_colour: #3498db;

.calendar {
  table-layout: fixed;
}
  .calendar thead {
    border: 1px solid #000;
  }

  .calendar__day-title {
    border: 1px solid #000;
  }

  .calendar__day-title {
  }

  .calendar__day {
    height: 125px;
    width: auto;
    border: 1px solid #000;
    background: #eee;

    &.-current-month {
      background: #fff;
    }

    &.-company-holiday {
      background: $company_holiday_colour;
    }

    &.-employee-holiday {
      background: $employee_holiday_colour;
    }

    &.-sick-day {
      background-color: $sick_day_colour;
    }
  }

  .calendar__list {
    padding: 0;
    list-style: none;
    padding-left: 25px;
    margin: 10px 0 0 20px;

    &:first-child {
      margin-top: -20px;
    }

    &.-holiday {
      background: image-url('icons/plane.png') no-repeat;
      background-position: 0 3px;
      background-size: 18px 18px;
    }

    &.-birthday {
      background: image-url('icons/cake.png') no-repeat;
      background-position: 3px 1px;
      background-size: 16px 16px;
    }
  }

.calendar__key {

}

  .calendar__key--list {
    list-style: none;
  }

    .calendar__key--list-item {
      display: inline-block;
      padding: 0 20px;
    }

      .calendar__key--list-item--data {
        display: inline-block;

        &.-key {
          padding-right: 5px;
        }

        &.-square {
          width: 20px;
          height: 20px;
          backkground: red;
          display: block;
        }

        img.-employee-holiday {
          width: 20px;
        }

        img.-birthday {
          width: 20px;
        }
      }
