$brand_default: #a537fd;
$brand_primary: #00ebbe;

$sick_day_colour: #e74c3c;
$employee_holiday_colour: darken($brand_primary, 5%);
$company_holiday_colour: #FFB330;
$birthday_colour: $brand_default;

$calendar_border_colour: #e3e3e3;
$calendar_nav_colour: #575757;

.calendar {
  table-layout: fixed;
}
  .table > thead > tr > th {
    border: 1px solid $calendar_border_colour;
  }

  .calendar__day-title {
    border: 1px solid $calendar_border_colour;
    text-align: center;
  }

  .calendar__day-title {
  }

  .calendar__day {
    height: 125px;
    width: auto;
    border: 1px solid $calendar_border_colour;
    background: lighten(#ddd, 8%);

    &.-current-month {
      background: lighten(#eee, 8%);
    }

    &.-today {
      background: lighten($brand_primary, 50%);
    }
  }

  .calendar__list {
    padding: 0;
    list-style: none;
    padding-left: 25px;
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 12px;

    &:first-child {
      margin-top: -20px;
    }

    li {
      margin-left: -20px;

      &:before {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 11px;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 10px;
      }

      a {
        text-decoration: underline;
      }
    }

    &.-employee-holiday {
      color: $employee_holiday_colour;

      li {
        a {
          color: $employee_holiday_colour;
        }

        &:before {
          content: "\f072";
        }
      }
    }

    &.-company-holiday {
      color: $company_holiday_colour;

      li:before {
        content: "\f185";
      }
    }

    &.-birthday {
      color: $birthday_colour;

      li {
        a {
          color: $birthday_colour;
        }

        &:before {
          content: "\f1fd";
        }
      }
    }

    &.-sick-day {
      color: $sick_day_colour;

      li {
        a {
          color: $sick_day_colour;
          text-decoration: underline;
        }

        &:before {
          content: "\f0f9";
        }
      }
    }
  }

.calendar__key {
  margin: 20px 0 30px 0;
  text-align: center;
}

  .calendar__key--list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

    .calendar__key--list-item {
      display: inline-block;
      margin: 0 20px;

      &:before {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 11px;
        display: inline-block;
        text-decoration: inherit;
      }

      &.-today {
        padding: 20px;
        background: lighten($brand_primary, 50%);
        border: 1px solid $calendar_border_colour;
      }

      &.-sick-day {
        color: $sick_day_colour;

        &:before {
          content: "\f0f9";
          margin-right: 10px;
        }
      }

      &.-company-holiday {
        color: $company_holiday_colour;

        &:before {
          content: "\f185";
          margin: 0 7px 2px;
        }
      }

      &.-employee-holiday {
        color: $employee_holiday_colour;

        &:before {
          content: "\f072";
          margin-right: 10px;
        }
      }

      &.-birthday {
        color: $birthday_colour;

        &:before {
          content: "\f1fd";
          margin-right: 10px;
        }
      }
    }

      .calendar__key--list-item--data {
        display: inline-block;

        &.-key {
          padding-right: 5px;
        }

        img.-employee-holiday {
          width: 20px;
        }

        img.-birthday {
          width: 20px;
        }
      }

.calendar__navigator {
  width: 100%;
  height: 40px;
  background: $calendar_nav_colour;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

  .calendar__navigator--month {
    color: #fff;
    margin-top: -30px;
  }

  .calendar__navigator--link-container {
    height: 100%;
    width: 50px;
    padding-top: 3px;

    &.pull-right {
      padding-left: 4px;
    }
  }

    .calendar__navigator--link {
      color: #fff;
      font-size: 24px;
      padding: 6px 13px;
      background: $calendar_nav_colour;
      margin-top: 30px;

      &.-left {
        border-top-left-radius: 5px;
      }

      &.-right {
        border-top-right-radius: 5px;
      }

      span {
        font-size: 20px;
      }

      &:hover,
      &:active,
      &:focus {
        color: #eee;
        background: darken($calendar_nav_colour, 5%);
      }
    }
