// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-card__container {
  margin-top: 50px;
}
  .user-card {
    border: 1px solid #ccc;
    margin: 0 auto 30px auto;
  }
    .user-card__name {
      text-align: center;
    }

    .user-card__side-panel {
      width: 300px;
      height: 100%;
      background: #eee;

    }
      .user-card__photo {
        border-radius: 1000px;
        margin: 0 auto;
        width: 80%;
      }

      .user-card__job-title {
        display: block;
      }

      .user-card__details {
        padding: 0 20px 20px;
        list-style: none;
      }

    .user-card__footer--links {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline;
        margin-right: 35px;
      }
    }

      .user-card__footer--link {
        color: #888;

        &:hover {
          text-decoration: none;
          color: #555;
        }
      }

.new-employee-form {

}

  .new-employee-form__subtitle {
    margin: 20px 0 20px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
  }
