.center {
  text-align: center;
}

.header {

}

  .header__logo {
    margin-top: -3px;
  }

  .header__right-space {
    margin-right: 30px;
  }

#error-explanation {
  margin-top: 10px;

  .error-list {
    margin: 20px 0;
  }
}
