.center {
  text-align: center;
}

.header {

}

  .header__dropdown {
    padding: 10px 15px;
  }

    .header__avatar {
      height: 20px;
      border-radius: 15px;
      margin-right: 5px;
    }

  .header__logo {
    margin-top: -3px;
  }

  .header__right-space {
    margin-right: 30px;
  }

#error-explanation {
  margin-top: 10px;

  .error-list {
    margin: 20px 0;
  }
}
