// Place all the styles related to the Times controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-card {
  border: 1px solid #ccc;
  min-height: 200px;
  max-width: 300px;
  text-align: center;
  padding: 30px;
  margin: 0 auto 30px auto;
}

  .user-card__name {

  }

  .user-card__photo {
    border-radius: 1000px;
    width: 80%;
  }

  .user-card__job-title {
    margin-top: 5px;
    display: block;
  }

.table-check-in-times {

}

  .table-check-in-times__tr {
  }

  .table-check-in-times__td {
    height: 35px;
    width: 20%;

    &.sick-day {
      background-color: #F08D8D;
    }
  }

  .table-check-in-times__link {
    color: #000;
    background: none;
    border: 0;
    margin-left: 10px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .table-check-in-times__week-day {
    color: #000;

    &:hover {
      color: #000;
    }
  }

.label-time-logged-today {
  display: block;
  margin-top: 10px;
}

.label-time-table {
  span {
    margin-bottom: 12px;
  }

  &:last-child {
    span {
      margin-bottom: 0;
    }
  }
}

.popover-close {
  margin-left: 20px;

  &:hover {
    cursor: pointer;
  }
}

.affix-time__form {

}

  .affix-time__form--button {
    padding: 5px 10px;
    margin: 0 0 5px 3px;
  }

  .affix-time__form--text-field {
    padding: 5px 10px;
    margin: 0 0 5px 3px;

    &:focus {
      outline: 0;
    }
  }

.week-starting {
  margin: 20px 0;
}
