// Place all the styles related to the Times controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sick_day_colour: #E00404;
$employee_holiday_colour: #2ecc71;
$company_holiday_colour: #3498db;

.table-check-in-times {

}

  .table-check-in-times__tr {
  }

  .table-check-in-times__td {
    height: 35px;
    width: 20%;

    &.-sick-day {
      background-color: $sick_day_colour;
    }

    &.-company-holiday {
      background-color: $company_holiday_colour;
    }

    &.-employee-holiday {
      background-color: $employee_holiday_colour;
    }
  }

  .table-check-in-times__time {
    color: #000;
    background: none;
    border: 0;
    margin-left: 10px;
    font-weight: bold;

    &.-link:hover {
      text-decoration: underline;
    }
  }

  .table-check-in-times__week-day {
    color: #000;

    &:hover {
      color: #000;
    }
  }

.label-time-logged-today {
  display: block;
  margin-top: 10px;
}

.label-time-table {
  span {
    margin-bottom: 12px;
  }

  &:last-child {
    span {
      margin-bottom: 0;
    }
  }
}

.popover-close {
  margin-left: 20px;

  &:hover {
    cursor: pointer;
  }
}

.affix-time__form {

}

  .affix-time__form--button {
    padding: 5px 10px;
    margin: 0 0 5px 3px;
  }

  .affix-time__form--text-field {
    padding: 5px 10px;
    margin: 0 0 5px 3px;

    &:focus {
      outline: 0;
    }
  }

.week-starting {
  margin: 20px 0;
}
